#o-sidebar.o-sidebar-show {
  transform: translateY(-270px);
}

#o-sidebar {
  position: absolute;
  bottom: -270px;
  transform: translateY(0);
  transition: .1s ease all;
  width: 100%;
  z-index: 24;
}

.o-sidebar {
  height: 100%;
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .o-sidebar {
    margin-bottom: 2em;
  }
}

.o-sidebar .o-card-content {
  .owl-stage {
    margin-bottom: 0px;
  }
}

#o-sidebar .owl-carousel .owl-wrapper-outer {
  overflow-y: auto;
}
